.navbar {
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    color: #FFF;
}

span.logo {
    font-weight: 500;
}

.navButton {
    margin-left: 20px;
    cursor: pointer;
    padding: 5px 10px;
    color: #003580;
    border: none;
}